{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <h1 class="title">О проекте</h1>
        <p class="text">
            Юна — это помощник в изучении русского языка как иностранного, который предлагает
            комплекс онлайн-упражнений для отработки лексических и грамматических навыков у
            иностранных студентов.
        </p>
        <div class="container">
            <h2>Почему именно Юна?</h2>
            <div class="row about_blocks">
                <una-block>
                    <img src="{{ MEDIA_URL }}main_page_image/icon.svg">
                    <h3>Удобно</h3>
                    <p>
                        Упражнения сервиса доступны по всему миру со всех устройств, всё, что необходимо —
                        быть онлайн!
                    </p>
                </una-block>
                <una-block>
                    <img src="{{ MEDIA_URL }}main_page_image/icon2.svg">
                    <h3>Увлекательно</h3>
                    <p>
                        Упражнения помогут отработать речевые навыки в самых разных коммуникативных
                        ситуациях.
                    </p>
                </una-block>
                <una-block>
                    <img src="{{ MEDIA_URL }}main_page_image/icon3.svg">
                    <h3>Эффективно</h3>
                    <p>
                        Материал каждого урока отвечает требованиям государственного стандарта и легко
                        усваивается в ходе выполнения упражнений.
                    </p>
                </una-block>
            </div>
        </div>
    </div>
{% endblock %}